
<!--!
* (c)2021 Dimond kudzai Madechawo
* all rights reserved
-->



<!DOCTYPE html>
<HTML>
<head>
<meta charset="utf-8">
<title>
	Christian Reveletions 
</title> 
<meta http-equiv="pragma" content="nocache"/>
<meta name="keywords" content="Bible knowledge, Bible Reveletions, Christian, Bible Science, Bible Teaching"/>
<meta  name="description"  content="Bible Reveletions"/>
<base href="index.html"/>


<style type="text/css">

a{
		color:inherit;
	}
.message{
text-align: left;
font-family: serif;
box-shadow: ;
border-radius: 10px;
font-size: .7EM;
}
.sent{

box-shadow: ;
font-size: 1EM;
font-weight: bold;
width: 30%;
height: 40%;
background-color: white;
color: blue;
font-family: serif;
border-radius: 25px 25px 25px 25px;
border: 1px solid blue;

}
.me{
height: ;
width: 100%;
background-color: white;
font-family:Courier,Times,Verdana;
color: white;
text-align: center;
font-size: ;
text-shadow: 1px 1px 1px black;

}
.blue{
color: red;
text-shadow: 2px 2px 2px grey;

}
.arrows{
 opacity: 0.7
}

	</style>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="vue.min.js"></script>
<script type="text/javascript" src="router.js"></script>
<script type="text/javascript" src="https://dimondkudzai.github.io/economics-tool/myjavascript.js"></script>

<script type="text/javascript">
	$(function () {
		  var swich=0
	     $("body").click(function () {
         if (swich==0) {
         $(".arrows").animate({
	     		opacity: '0'
	     	},1000)
	     	return swich= 1
         }

         if (swich==1) {
         $(".arrows").animate({
	     		opacity: '0.7'
	     	},1000)
	     	swich= 0
         }

	     	
	     })
	     
	})
</script>

<body style="font-size: 2EM;">


<header style="margin: 0 auto;text-align: center;"><br><br><br><br>
	<div class="me" id="up">
		<div id="myjavascript1"></div>
<!--<img src="Jesuslove.gif" height="300px" width="300px" alt="developer" class="dimond" style="box-shadow: 1px 1px 1px black; border: 10px solid white;"/><br><br><br>-->
<a href="index.html#/"><img src="back.png" style="margin-left: -40%;width: 9%;height: 9%;position: fixed;border-radius: 50%;box-shadow: 3px 3px 3px red;" class="arrows" id="back"></a>
<a href="#up"><img src="up.png" style="margin-left: 35%;width: 9%;height: 9%;position:fixed;border-radius: 50%;box-shadow: 3px 3px 3px red;" id="upp" class="arrows"></a>
		<a href="index.html#/contact"><img src="mail.jpg" style="margin-left: 20%;width: 9%;height: 9%;position: fixed;border-radius: 50%;box-shadow: ;" class="arrows" id="back"></a>

<br>
<div id="myjavascript2"></div>
<b class="blue">For Go</b>d so  <b class="blue">loved</b> <br>
the <b class="blue">world, that He  gave</b> his<br> o<b class="blue">nly begotten Son, tha</b>t <br><b class="blue">who so ever believe-</b><br>th in hi<b class="blue">m should not p</b>erish but<br>have a<b class="blue">n everla</b>sting<br>li<b class="blue">f</b>e.

</div>

	<br><br><br>

	
	<!--<img src="waterfall.jpg" width= '25%' height= "55%" style="
    border-radius:9%;margin: 0 auto;">-->
    <h2 style="font-weight:;">Life in Christ</h2>
    <br><br>
    <em style="font-weight:lighter;">Holy scriptures</em>

</header>



<div id="routes">
<transition enter-active-class="" leave-active-class="">
<router-view></router-view>
</transition>

</div>

<!--
<br><br><br><br><br>

<table style= "margin: 0 auto; box-shadow: 5px 5px 5px black;border-radius: 15px;background-color: ;">
	<tr>
		<td> 
           <a href="index.html"> <button style= "color: blue; background-color: white; border-radius: 15px; border: solid 2px blue;font-weight: bold;font-size: 2EM;">Home</button></a><br>
		</td>
	</tr>
		<tr>
		<td> 
			<br>
             <a href= "index.html#/contact"><button style= "color: blue; background-color: white; border-radius: 15px; border: solid 2px blue;font-weight: bold;font-size: 2EM;">
             Email&#160
         </button></a>
		</td>
	</tr>

</table>-->

<br><br><br><br><br>
<div id="myjavascript3"></div>
<div class="last">
	<table width="80%" style="margin: 0 auto;border: 1px solid grey;border-radius: 10px;">
		<tr style="text-align: center;">
			<td>
				<br><br>
				<a href="https://m.facebook.com/Websites-developer-113300083549759"><img src="facebook.png" width="70px" height="70px" class="one" style="border-radius: 50%"></a>
				<br><br><br><br><br><br><br><br><br><br><br><br></td>
			<td><br><br>
				<a href="https://mobile.twitter.com/DMadechawo"><img src="twitter.png" width="70px" height="70px" class="two" style="border-radius: 50%"></a>
				<br><br><br><br><br><br><br><br><br><br><br><br>
			</td>
			<td>
				<a href="https://wa.me/263717992175?text=Hie%20Dimond%20about%20web%20development"><img src="whatsapp.png" width="70px" height="70px" class="three" style="border-radius: 50%"></a>
				<br><br><br><br><br><br><br><br><br><br>
			</td>
		</tr>
		
	</table>
	
<div style="text-align: center;
			font-size: ;
			font-weight:;
			font-family: ;
			margin-top: -470px;
			color: white;
			text-shadow: 1px 1px 1px black;">
			<br>
	&copy2021 Dimond K <br>
	All rights reserved <br>
	+263 717992175<br><br><br>
    <!-- <img src="dimondk.png" width="40%" height="15%" id="logo" style="margin: 0 auto; margin-left: +6%;margin-top: -5%;"> -->
	<br><br><br><br>		
</div>
<br><br><br><br>
</div>

</body>

<script>

	Vue.use(VueRouter)

	// home page template

const home={ template:`<div>

	<div style="
 background-image:url('prayer.jpg');
 background-position : 50% 50% ;
 background-size : 90% ;
 background-origin : content ;
 background-repeat: no-repeat ;
 width: 80%;
 height: %;
 margin: 0 auto;
">

<br><br><br><br>
<div id="myjavascript4"></div>
<div style="width: 60%;
height: 50%;margin: 0 auto;text-align: center;background-color:red;font-family:;font-weight: bold;color:white;border-radius:25px;border: 1px solid white;">

<router-link to="/born"><b>Born Again</b></router-link>
<br>
<hr>
<router-link to="/kingdom">Kingdom of God</router-link>
<br>
<hr>
<router-link to="/prayer">Holy Prayer and Worship</router-link>
<br>
<hr>
<router-link to="/hearing">Hearing God's Word</router-link>
<br>
<hr>
<router-link to="/love">God's Love</router-link>
<br>
<hr>
<router-link to="/you">Who are you?</router-link>
</div>
<br>
<br>
<br>
<br>
</div>

</div>`,

data: function () {
	return {
		nam:this.nam,
		email: this.email,
		message: this.message
	}
}

}

const born={ template:`<div>

<div style="
 width: 80%;
 height: 100%;
 margin: 0 auto;">
 <br><br>
<h2>Being born again.</h2>
<div style="">
<img src="born2.jpg" style="width: 100%;margin: 0 auto;">
</div>
<br>


<span style="font-weight: bold;color: white;background-color:red;box-shadow:3px 3px 3px grey; border-radius:10px">

Ephesians 1 vs 4 <br>
Even before the world was made, God had already chosen us to be his through our union with Christ, so that we would be holy and without fault before him. Because of his love 5 God had already decided that through Jesus Christ he would make us his sons and daughters-this was his pleasure and purpose.

<br><br>

Reveletion 12 vs 10 <br>
Then i heard a loud voice in a heaven say:"Now have come salvation and the power and the kingdom of our God, and the authority of Christ. For the accuser of our brothers, who accuses them before our God day and night, has been hurled down. ...."

<br>
<br>
<div id="myjavascript5"></div>
Hebrews 1 vs 3

The Son the radiance of God's glory and the exact representation of his being, sustaining all things by his powerful word. After he had provided purification for sins, he sat down at the right hand of the Majesty in heaven.

<br>
<br>

Colossians 1 vs 27 <br>
God's plan is to make known his secret to his people, these rich and glorious secret which he has for all people. And the secret is that Christ is in you, which means that Christ is in you, which means that you will share in the glory of God.
<br><br>

2 Corinthiens 5 vs 17 <br>
Therefore if anyone be in Christ, he is a new creation, all things become new.

<br><br>

Colossians 1 vs 28 <br>
We proclaim him, admonishing and teaching everyone with all wisdom, so that we may present everyone perfect in Christ.
</span>



</div>
</div>`}

const kingdom= { template:`<div style="
 width: 80%;
 height: 100%;
 margin: 0 auto;">
<br><br>
<h2>Kingdom of God.</h2>
<div style="">
<img src="waterfall.jpg" style="width: 100%;margin: 0 auto;">
</div>
<br>
<span style="font-weight: bold;color: white;background-color:red;box-shadow:3px 3px 3px grey; border-radius:10px">
Luke 17 vs 20-22<br>
Some Pharisees asked Jesus when the Kingdom of God would come. His answer was, "The Kingdom of God does not come in such a way as to be seen. 21 No one will say 'Look, here it is!'. or 'There it is'; because the Kingdom of God is within you".<br><br>
Mathew 18 vs 1<br>
At that time the disciples came to Jesus, asking, "Who is the greatest in the Kingdom of Heaven?" 2 So Jesus called a child, made him stand in front of them, 3 and said, "I assure you that unless you change and become like children, you will never enter the Kingdom of Heaven. 4 The greatest in the Kingdom of Heaven is the one who humbles himself and becomes like this child"
<br><br>
Luke 10 vs 20<br>
But don't be glad because the evil spirits obey you, rather be glad because your names are written in Heaven.
<br><br>


<div id="myjavascript6"></div>
Reveletion 12 vs 10 <br>
 Then i heard a loud voice in a heaven say:"Now have come salvation and the power and the kingdom of our God, and the authority of Christ. For the accuser of our brothers, who accuses them before our God day and night, has been hurled down. ...."
</span>



</div>`}


const hearing= { template: `<div style="
 width: 80%;
 height: 100%;
 margin: 0 auto;">

<br><br>
<h2>God's Word.</h2>
<div style="">
<img src="word3.jpg" style="width: 100%;margin: 0 auto;">
</div>
<br>
<span style="font-weight: bold;color: white;background-color:red;box-shadow:3px 3px 3px grey; border-radius:10px">
John 1 vs 1<br>
In the begining was the word, and the word was with God and the word was God.<br>
<br><br>

John 1 vs 4<br>
The word was the sorce of life, and this life brought light to humanity.
<br><br>

Reveletion 19 vs 13<br>
The robe he wore was covered with blood. His name is "The Word of God."
<br><br>
<div id="myjavascript7"></div>
John 14 vs 23<br>
Jesus answered him, "whoever loves me obey my teaching. my Father will love him, and my Father and I will come and live with him."
<br><br>

</div>`}


const love= { template: `<div style="
 width: 80%;
 height: 100%;
 margin: 0 auto;">
<br><br>

<h2>Love and Forgiveness</h2>
<div style="">
<img src="love.jpg" style="width: 100%;margin: 0 auto;">
</div>
<br>
<span style="font-weight: bold;color: white;background-color:red;box-shadow:3px 3px 3px grey; border-radius:10px">
John 3 vs 16<br>
For God so loved the world that he gave his only Son, So that everyone who believes in him should not die but have internal life.
<br><br>
<div id="myjavascript8"></div>
John 15 vs 9<br>
I love you just as the Father loves me; remain in my love. 10 If you obey my commands, you will remain in my love, just as i have obeyed my Father's commands and remain in His love... 12 My commandment is this: love one another, just as i love you.
<br><br>

1 John 3 vs 1<br>
See how much the Father has loved us! His love is so great that we are called God's children-and so, in fact, we are. This is why the world does not know us: it has not known God.
<br><br>
1 John 4 vs 19<br>
We love because God first loved us.
<br><br>


</span>



</div>`}

const you={ template:`<div style="
 width: 80%;
 height: 100%;
 margin: 0 auto;">
<br><br>
	<h2>Who are we in Christ</h2>

<div style="">
<img src="you.jpg" style="width: 100%;margin: 0 auto;">
</div>
<br>

<span style="font-weight: bold;color: white;background-color:red;box-shadow:3px 3px 3px grey; border-radius:10px">

Colossians 2 vs 8<br>
See to it, then, that no one enslaves you by means of the worthless deceit of human wisdom, which comes from the teachings handed down by human beings and from the ruling spirits of the universe, and not from Christ. 9 For the full content of divine nature lives in Christ, in His humanity, 10 and you have been given full life in union with him. He is supreme over every spiritual ruler and authority.
<br><br>

<div id="myjavascript9"></div>
2  Peter 1 vs 3<br>
God's devine power has given us everything we need to live a truly religious life through our knowledge of the one who called us to share in his own glory and goodness. 4 In this way he has given us the very great and precious gifts he promised, so that by means of these gifts you may escape from the distructive lust that is in the world, and may come to share the divine nature.

<br><br>

John 3 vs 1<br>
See how much the Father has loved us! His love is so great that we are called the children of God-and so, in fact, we are. 2 This is why the world does not know us: it has not known God.

<br><br>

Ephesians 1 vs 3<br>
Let us give thanks to God and Father of our Lord Jesus Christ! For in our union with Christ he has blessed us by giving us every spiritual blessing in the heavenly world. 4 Even before the world was made, God had already chosen us to be his through our union with Christ, so that we would be holy and without fault before him. Because of this love 5 God had already decided that through Jesus Christ he would make us his sons and daughters-this was his pleasure and purpose. 


<br><br>

Colossians 1 vs 22<br>
But now by means of the physical death of His Son, God has made you his friends, in order to bring you, holy, pure, and faultless, into his presence.

<br><br>

</span>


</div>`}

const prayer={template:`<div style="
 width: 80%;
 height: 100%;
 margin: 0 auto;">

<br><br>
	<h2>Holy prayer and worship</h2>

<div style="">
<img src="prayer.jpg" style="width: 100%;margin: 0 auto;">
</div>
<br>

<span style="font-weight: bold;color: white;background-color:red;box-shadow:3px 3px 3px grey; border-radius:10px">
Mathew 6 vs 5<br>
"When you pray do not be like the hypocrites! They love to stand up and pray in the houses of worship and on the street corners, so that everyone will see them. I assure you, they have already been paid in full. 6 But when you pray, go to your room, close the door, and pray to your Father, who is un seen and your Father who sees what you do in private will reward you."
<br><br>
Mathew 7 vs 7<br>
"Ask, and you will receive; seek, and you'll find; kncck, and the door will be opened to you."<br><br>

Mark 9 vs 29<br>
"Only prayer can drive this kind out," answered Jesus; "nothing else can."
<br><br>
<div id="myjavascript10"></div>
Romans 12 vs 1<br>
So then, my brothers and sisters, because of God's great mercy to us i appeal to you: offer yourselves as a living secrifice to God, dedicated to his service and pleasing to him. This is the true worship you should offer.<br><br>

</span>

</div>`}

const contact={ template:`<div style="
 width: 80%;
 height: 100%;
 margin: 0 auto;">

<p class="happy">

</p>
<br>
<div style= "">
<form method="post" action="mailto:diamondkudzai70@gmail.com" id="form" name="form1" style= "margin: 0 auto;">
<p class="">
Name
<br><input type="text" name="name" class="message" required v-model="name" placeholder= "">&#160<b style= "color: red">*</b>
<br><br>
Email adress<br>
<input type="text" class="message" name="email" v-model="email" @input="validate" placeholder=""/><em style="color:red;text-align:right;font-size:1EM;text-align:right;">&#160{{warn}}</em><br><br>
Message
<br>
<textarea name="textarea" rows="8" clos="10" class="message" required placeholder=" your message">
</textarea>&#160<b style= "color: red">*</b>
<br><br>
<div id="myjavascript11"></div>
I would be very happy to hear from you <b style="border: 1px solid white;color:red;text-shadow: 2px 2px 2px black;" class='sent'>{{name}}</b>.<br><br><br>

<button type="submit" class="sent" name="btn"><b>sent</b></button>
</form>
</div>

</div>`,

data: function () {
	return {
		name:this.name,
		email: this.email,
		message: this.message,
		warn: this.warn
	}
},
methods: {
	validate: function () {
		var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
       if (this.email.match(mailformat)) {
       	this.warn= ""
       	document.form1.btn.style="opacity:1;"

       	document.form1.btn.disabled= false;
       
       } else {
       	this.warn= "  invalid email."
     	document.form1.btn.style="opacity:0.2;"

     	
       	document.form1.btn.disabled= true

       }
	}

}

}


const router= new VueRouter({
routes:[
{path:"/",component:home},
{path:"/kingdom",component:kingdom},
{path:"/hearing",component:hearing},
{path:"/born",component:born},
{path:"/you",component:you},
{path:"/love",component:love},
{path:"/prayer",component:prayer},
{path:"/contact",component:contact}
]
});

new Vue({
router,
el: "#routes"
});


</script>

<!--!
* (c)2021 Dimond kudzai Madechawo
* all rights reserved
-->

</body>
</html>
